body {
    font-family: Tahoma, sans-serif;
    text-stroke:2px rgb(24, 24, 24);
    -webkit-text-stroke:1px rgb(80, 80, 80);
    text-align: center;
    background-color: #1B2248;
    background-image: url('images/Piano.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

h1, h2, h3, h4, p {
    color: white;
 }

h1 {
    font-size: 35px; 
    font-weight: bold;
}
h2 {
    font-size: 32px; 
    font-weight: bold;
}
h3 {
    font-size: 18px; 
    font-weight: normal;
}
.underline {
    border-bottom: 1px solid #ffffff;
    width: 70%; 
    margin: 15px auto; 
}
h4 {
    font-size: 20px; 
    font-weight: bold;
}
h5 {
    font-size: 24px; 
    font-weight: normal;
}
footer {
    color: white; 
    text-align: center;
    padding: 10px;
    text-stroke:1px rgb(188, 188, 188);
    -webkit-text-stroke:1px rgb(186, 186, 186);
    
}

footer p {
    font-size: 12px;
    margin: 2px 0;
}
