body {
    font-family: Times New Roman, Serif;
    text-align: center;
    background-color: black;
    background-image: url('../images/Sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

h1, h2, h3, h4, p {
    color: white;
 }

h1 {
    font-size: 35px; 
    font-weight: bold;
}
h2 {
    font-size: 32px; 
    font-weight: bold;
}
h3 {
    font-size: 18px; 
    font-weight: normal;
}
.underline {
    border-bottom: 1px solid #ffffff;
    width: 70%; 
    margin: 15px auto; 
}
h4 {
    font-size: 20px; 
    font-weight: normal;
}
h5 {
    font-size: 24px; 
    font-weight: normal;
}
